
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/header.css" type="text/css">
    <link rel="stylesheet" href="/styles/index.css" type="text/css">
    <link rel="stylesheet" href="/styles/footer.css" type="text/css">
    <script type="text/javascript" src="/jq.js"></script>
    <script type="text/javascript" src="/index_filter.js"></script>
    <title>Main</title>
</head>

<body>
    <!-- ХЕДЕР -->
    <%- include(header) %>

    <!-- Основная часть сайта-->
    <div class="main-fluid container-fluid">
        <div class="main-container container">
            <div class="content row">

                <!-- ЧАСТЬ С НОВОСТЯМИ-->
                <div class="content-post col-8">
                    <h4 id="posts-header"> Последние публикации</h4>
                    <% for(let i = 0; i < posts.length; i++) {%>
                    <div class="post row" <% if (i >= 10) {%> style='display: none' <%} %>>
                        <div class="post-image col-2">
                            <img class="mx-auto d-block" src="/photos/<%=posts[i].image_path%>">
                        </div>
                        <div class="post-text col-10">
                            <h5>
                                <a href="post/<%=posts[i].id%>">
                                    <%=posts[i].title%>
                                </a>
                            </h5>
                            <p><%=posts[i].first_name%> <%=posts[i].last_name%> | <span class="post_date"><%=posts[i].post_date%></span></p>
                        </div>
                    </div>
                    <%} %>
                </div>

            <!-- ВАЖНЫЕ НОВОСТИ-->
            <div class="content-important col-4">
                <h4 id="important-posts-header">Важные новости</h4>
                <% for (let i = 0; i < importantPosts.length; i++) {%>
                <div class="important row">
                    <a href="post/<%=importantPosts[i].id%>">
                        <%=importantPosts[i].title%>
                    </a>
                </div>
                <%} %>
                <hr>

                <div class="filter-div">
                    <a id="posts-yesterday">Новости за вчера</a><br>
                    <a id="posts-last-week">Новости за последнюю неделю</a><br>
                    <a id="posts-last-month">Новости за последний месяц</a><br>
                    <a id="posts-all-time">Все новости</a>
                </div>

                <div class="about">
                    <h4>О сайте <span class="hide-about"> раскрыть </span> </h4>
                    <p id="about-info" data-state="0">
                        Данный сайт посвящен тематике автоспорта. Здесь можно найти актуальные новости
                        о различных гоночных серях и событиях, происходящих в них.
                        Сделан студентом БСБО-10-21 Галиуллиным Артур
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Футер -->
    <%- include('footer') %>
</body>
</html>